<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wiseassblog.androiddata"
>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <service android:name=".data.reminderapi.ReminderService"
                 tools:node="merge"
                 android:directBootAware="true"
        ></service>

        <receiver android:name=".data.reminderapi.ReminderBroadcastReceiver"
                  android:enabled="true"
                  android:exported="false"
                  android:directBootAware="true"
                  tools:node="merge"
        >
        </receiver>
    </application>
</manifest>
